@use 'vars';

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink);
}

.menu {
  display: none;
}

.navLogo {
  width: 100px;
}

.navbarLeft ul,
.navbarRight ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbarLeft {
  display: flex;
}

.navbarLeft ul {
  margin-left: 12px;
}

.navbarLeft ul li a,
.navbarRight ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
}

.navbarLeft ul li a:hover,
.navbarRight ul li a:hover {
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}

.navbarEmail {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-right: 12px;
}

.navbarShoppingCart {
  position: relative;
}

.navbarShoppingCart div {
  width: 16px;
  height: 16px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 640px) {
  .menu {
    display: block;
  }

  .navbarLeft ul {
    display: none;
  }

  .navbarEmail {
    display: none;
  }
}
