@import 'vars';

.nav {
  border-bottom: 1px solid $--very-light-pink;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  z-index: 9999;
}

.menu {
  display: none;
}

.navLogo {
  width: 100px;
}

.navbarLeft ul,
.navbarRight ul {
  align-items: center;
  display: flex;
  height: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbarLeft {
  display: flex;
}

.navbarLeft ul {
  margin-left: 12px;
}

.navbarLeft ul li a,
.navbarRight ul li a {
  border: 1px solid var(--white);
  border-radius: 8px;
  color: $--very-light-pink;
  padding: 8px;
  text-decoration: none;
}

.navbarLeft ul li a:hover,
.navbarRight ul li a:hover {
  border: 1px solid $--hospital-green;
  color: $--hospital-green;
}

.navbarEmail {
  color: $--very-light-pink;
  font-size: var(--sm);
  margin-right: 12px;
}

.navbarShoppingCart {
  position: relative;
}

.navbarShoppingCart div {
  align-items: center;
  background-color: $--hospital-green;
  border-radius: 50%;
  color: $--white;
  display: flex;
  font-size: $--sm;
  font-weight: bold;
  height: 20px;
  justify-content: center;
  position: absolute;
  right: -10px;
  top: -12px;
  width: 20px;
}

@media (max-width: 640px) {
  .menu {
    display: block;
  }

  .navbarLeft ul {
    display: none;
  }

  .navbarEmail {
    display: none;
  }
}
