@import 'vars';

.myOrder {
  background-color: white;
  border: 1px solid $--very-light-pink;
  border-radius: 6px;
  bottom: 0;
  box-sizing: border-box;
  padding: 24px;
  position: fixed;
  right: 0;
  top: 60px;
  width: 360px;
  z-index: 9999;
}

.myOrderContainer {
  bottom: 0;
  position: sticky;
  right: 0;
}

.myOrderContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
}

.titleContainer {
  display: flex;
}

.titleContainer img {
  margin-right: 14px;
  transform: rotate(180deg);
}

.title {
  font-size: $--lg;
  font-weight: bold;
}

.order {
  align-items: center;
  background-color: $--text-input-field;
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  margin-bottom: 24px;
  padding: 0 24px;
}

.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.order p span:nth-child(1) {
  font-size: $--md;
  font-weight: bold;
}

.order p:nth-child(2) {
  font-weight: bold;
  text-align: end;
}

.primaryButton {
  background-color: $--hospital-green;
  border: none;
  border-radius: 8px;
  color: $--white;
  cursor: pointer;
  font-size: $--md;
  font-weight: bold;
  height: 50px;
  width: 100%;
}

@media (max-width: 640px) {
  .myOrder {
    width: 100%;
  }
}
