@import 'vars';

.productDetail {
  padding-bottom: 24px;
  position: absolute;
  right: 0;
  width: 360px;
}

.productDetailClose {
  background: $--white;
  border-radius: 50%;
  height: 14px;
  left: 24px;
  padding: 12px;
  position: absolute;
  top: 24px;
  width: 14px;
  z-index: 2;
}

.productDetailClose:hover {
  cursor: pointer;
}

.productDetail > img:nth-child(2) {
  border-radius: 0 0 20px 20px;
  height: 360px;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 640px) {
  .productDetail {
    width: 100%;
  }
}
