@import 'vars';

.productInfo {
  margin: 24px 24px 0 24px;
}

.productInfo p:nth-child(1) {
  font-size: $--md;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 0;
}

.productInfo p:nth-child(2) {
  color: $--very-light-pink;
  font-size: $--md;
  margin-bottom: 36px;
  margin-top: 0;
}

.productInfo p:nth-child(3) {
  color: $--very-light-pink;
  font-size: $--sm;
  margin-bottom: 36px;
  margin-top: 0;
}

.primaryButton {
  background-color: $--hospital-green;
  border: none;
  border-radius: 8px;
  color: $--white;
  cursor: pointer;
  font-size: $--md;
  height: 50px;
  font-weight: bold;
  width: 100%;
}

.addToCartButton {
  align-items: center;
  display: flex;
  justify-content: center;
}
