@import 'vars';

.ProductList {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fill, 240px);
  margin: 3em 0 0 0;
  place-content: center;
}

@media (max-width: 640px) {
  .ProductList {
    grid-template-columns: repeat(auto-fill, 140px);
  }
}
