@import 'vars';

.ProductItem {
  width: 240px;
}

.ProductItem img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}

.productInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.productInfo figure {
  margin: 0;
}

.productInfo figure img {
  width: 35px;
  height: 35px;
}

.productInfo div p:nth-child(1) {
  font-weight: bold;
  font-size: $--md;
  margin-top: 0;
  margin-bottom: 4px;
}

.productInfo div p:nth-child(2) {
  font-size: $--sm;
  margin-top: 0;
  margin-bottom: 0;
  color: $--very-light-pink;
}

@media (max-width: 640px) {
  .cardsContainer {
    grid-template-columns: repeat(auto-fill, 140px);
  }

  .ProductItem {
    width: 140px;
  }

  .ProductItem img {
    width: 140px;
    height: 140px;
  }
}
