@import 'vars';

.shoppingCartItem {
  align-items: center;
  display: grid;
  gap: 16px;
  grid-template-columns: auto 1fr auto auto;
  margin-bottom: 24px;
}

.shoppingCartItem figure {
  margin: 0;
}

.shoppingCartItem figure img {
  border-radius: 20px;
  height: 70px;
  object-fit: cover;
  width: 70px;
}

.shoppingCartItem p:nth-child(2) {
  color: $--very-light-pink;
}

.shoppingCartItem p:nth-child(3) {
  font-size: $--md;
  font-weight: bold;
}
